@use "@/scss/media.scss";
@use "@/scss/variables.scss";
$card-border-color: #e9e9e9;

section.end {
  background-color: #f9f9f9;
  padding-inline: variables.$default-padding;
  padding-block: 1rem;
  border-top: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;

  @include media.responsive(tablet) {
    padding-inline: variables.$default-mobile-padding;
  }

  .warning {
    border: 1px solid #d8dee4;
    border-radius: 0.3rem;
    background-color: white;
    padding: 0.5rem 0.8rem;
    box-sizing: border-box;
    gap: 0.4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    b {
      color: #ff2a2a;
    }
  }

  small {
    color: #536471;
  }
}
