@use "@/scss/media.scss";
@use "@/scss/variables.scss";

.component.system-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #536471;

  img.cover {
    width: 100%;
    height: 20rem;
    object-fit: cover;

    @include media.responsive(tablet) {
      height: 12rem;
    }
  }

  .card {
    background-color: #f9f9f9;
    border-bottom: 1px solid #0000001a;

    &:has(img.cover) {
      padding-top: 0;
    }

    &:not(:has(img.cover)) {
      border-top: 1px solid #0000001a;
    }

    > span,
    > p {
      display: block;
    }

    span.title {
      color: #272666;
      margin-block: 1rem;
      font-size: 14px;
    }

    ul {
      position: relative;
      margin-block: 0.1rem;
      list-style-position: inside;
      li {
        padding-left: 0.5rem;
      }
    }

    .gif {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
      }
    }

    .image-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin-block: 1rem;

      .container {
        height: 20rem;
        max-height: 20rem;
        flex: 1 1 45%;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;

        &:not(.force-divided) {
          @include media.responsive(tablet) {
            height: 90vw;
            max-height: 90vw;
            flex: 1 1 100%;
            max-width: unset;
          }
        }

        &.force-divided {
          @include media.responsive(tablet) {
            height: 45vw;
            max-height: 45vw;
          }
        }
      }

      .full {
        width: 100%;
        flex: unset;
      }

      > img {
        height: auto;
        object-fit: cover;
        object-position: top;
        width: 48%;
        border-radius: 1rem;
        height: 20rem;
      }
    }

    > *:not(img.cover) {
      box-sizing: border-box;
      padding-inline: variables.$default-padding;

      @include media.responsive(tablet) {
        padding-inline: variables.$default-mobile-padding;
      }

      &:first-child {
        margin-top: 2rem;
      }

      &:last-child {
        margin-bottom: 2rem;
      }
    }
  }
}
