@use "@/scss/media.scss";
@use "@/scss/variables.scss";

.component.system-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button.back {
    border-radius: 1rem;
    border: 1px solid gray;
    background-color: transparent;
    width: min-content;
    padding: 0.3rem 0.8rem;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }

  >.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .top {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      >.title {
        font-size: 1.2rem;
        font-weight: 500;
        color: #272666;
      }
    }

    .description {
      color: #757575;
    }
  }

  main {
    color: #272666;
  }

  hr {
    border-top: 1px solid #e6ebf5;
  }

  .tag-list {
    display: flex;
    overflow: auto;
    gap: 0.5rem;
    margin-inline: -5rem;
    padding-inline: 5rem;

    @include media.responsive(tablet) {
      flex-wrap: nowrap;
      overflow: auto;
      margin-right: -5rem;
      padding-right: 5rem;
    }

    .tag {
      background-color: #f7f7f5;
      color: #0d0d0c;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      white-space: nowrap;
      font-size: 12px;
    }
  }

  >a {
    width: 100%;
  }

  a button.contact {
    background-color: #fc1e1e;
    border-color: #fc1e1e;
    color: white;
    border: 1px solid #fc1e1e;
    border-radius: 1rem;
    padding: 0.5rem 0.3rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
  }
}