@use "@/scss/media.scss";
@use "@/scss/variables.scss";

section.showcase {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include media.responsive(tablet) {
    flex-direction: row;
    gap: 0;
    overflow: auto;
    scroll-snap-type: x mandatory;
  }
}

.component.project-showcase {
  background-color: green;
  background-position: 0 0;
  background-size: cover;
  height: 20rem;
  position: relative;

  @include media.responsive(tablet) {
    width: 95%;
    min-width: 95%;
    scroll-snap-align: start;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, #00000080 0%, transparent 30%);
  }

  .floating-tip {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: white;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    border: 1px solid #0000001a;
    z-index: 1;
  }
}
