@use "@/scss/media.scss";
@use "@/scss/variables.scss";

section.showcase {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include media.responsive(tablet) {
    flex-direction: row;
    gap: 0;
    overflow: auto;
    scroll-snap-type: x mandatory;
  }
}

.component.project-showcase {
  height: 20rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    >img {
      transform: scale(1.05);
    }
  }

  img {
    max-height: 100%;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out transform;
    object-fit: cover;
    object-position: left;
  }


  @include media.responsive(tablet) {
    width: 95%;
    min-width: 95%;
    scroll-snap-align: start;

    &:hover {
      >img {
        filter: brightness(0.8);
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, #00000080 0%, transparent 30%);
  }

  .floating-tip {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: white;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    border: 1px solid #0000001a;
    z-index: 1;
  }
}