* {
  font-family: "Sora";
}

body {
  font-size: 12px;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}


button {
  transition: 0.1s ease-in-out transform;
  cursor: pointer;
  $hover-height: 0.05rem;

  &:hover {
    transform: translate(0, -$hover-height);
  }

  &:active {
    transform: translate(0, $hover-height);
  }
}