@use "@/scss/media.scss";
@use "@/scss/variables.scss";

$card-border-color: #e9e9e9;

.page.home-page {
  display: flex;
  flex-direction: column;
  overflow: auto;

  .home-page.fixed {
    padding: variables.$default-padding;
    overflow: hidden;

    @include media.responsive(tablet) {
      padding: variables.$default-mobile-padding;
      padding-top: 2rem;
    }

    > section.about {
      h1 {
        font-weight: 400;
        font-family: "libre-baskerville";
        font-weight: 700;
      }

      > span {
        color: #999999;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.3rem;
        margin-block: 1rem;
        font-size: 0.6rem;
      }

      p.about {
        margin-top: 1rem;
      }

      .foot-note {
        display: flex;
        gap: 1rem;
        margin-block: 1rem;

        button {
          cursor: pointer;
          border-radius: 2rem;
          padding: 0.5rem 1rem;
          border: 1px solid;
          display: flex;
          align-items: center;
          gap: 0.7rem;

          &.contact {
            background-color: #fc1e1e;
            border-color: #fc1e1e;
            color: white;
          }

          &.download-cv {
            background-color: transparent;
            border-color: #0000001a;

            span {
              text-decoration: none;
            }
          }
        }
      }
    }

    > section.software {
      margin-block: 1.5rem;
      .software-list {
        margin-top: 0.7rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-inline: -5rem;
        padding-inline: 5rem;

        @include media.responsive(tablet) {
          flex-wrap: nowrap;
          overflow: auto;
          margin-right: -5rem;
          padding-right: 5rem;

          > * {
            width: 5rem;
          }
        }
      }
    }

    > section.social-media {
      margin-block: 1.5rem;
      .social-list {
        margin-top: 0.7rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        > * {
          flex-grow: 1;
        }
      }
    }

    .component.skill-tag {
      border: 1px solid #f2f2f2;
      padding: 0.3rem 0.8rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .component.software {
      border: 1px solid #e7e7e7;
      padding: 0.1rem 0.4rem;
      border-radius: 1rem;
      height: 3rem;
      width: 3rem;
      min-width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .component.social-media {
      border: 1px solid #e7e7e7;
      padding: 0.1rem 0.4rem;
      border-radius: 1rem;
      height: 3.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .sections {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include media.responsive(tablet) {
      gap: 0.8rem;
    }

    .component.topbar {
      @include media.responsive(tablet) {
        display: none;
      }
    }

    .sidescroll {
      align-items: center;
      gap: 0.5rem;
      display: none;
      color: #a9a9a9;
      padding-left: 1rem;

      @include media.responsive(tablet) {
        display: flex;
      }
    }
  }
}
