$card-border-color: #e9e9e9;

.component.topbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  padding-top: 1rem;

  nav {
    display: flex;
    border-radius: 1.5rem;
    border: 1px solid $card-border-color;
    gap: 1rem;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }

    button {
      padding: 0.5rem 0.7rem;
      background-color: transparent;
      border: none;
      color: #202020;
      cursor: pointer;
      font-weight: bold;


    }
  }
}