$card-border-color: #e9e9e9;
.component.topbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  padding-top: 1rem;
  margin-bottom: 1.5rem;

  nav {
    display: flex;
    border-radius: 1.5rem;

    button {
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
      color: black;
      cursor: pointer;

      &:first-child {
        padding-left: 1.8rem;
      }

      &:last-child {
        padding-right: 1.8rem;
      }
    }
  }
}
