$card-border-color: #e9e9e9;

.component.log-topbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  padding-top: 1rem;

  nav {
    display: flex;
    border-radius: 1.5rem;
    border: 1px solid $card-border-color;

    button {
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
      color: #202020;
      cursor: pointer;
      font-weight: bold;

      &:first-child {
        padding-left: 1.8rem;
      }

      &:last-child {
        padding-right: 1.8rem;
      }
    }
  }
}