@use "@/scss/media.scss";
@use "@/scss/variables.scss";

.page.system-page.navegamlog {
  display: flex;
  flex-direction: column;
  overflow: auto;

  .padded {
    padding: variables.$default-padding;
    overflow: hidden;

    @include media.responsive(tablet) {
      padding: variables.$default-mobile-padding;
      padding-top: 2rem;
    }
  }

  .divided-description {
    display: flex;
    margin-block: 1rem;
    gap: 1rem;
    align-items: flex-start;

    .title {
      color: #272666;
      font-size: 14px;
      width: 5rem;
      margin: 0;
    }

    p {
      width: 5rem;
      flex-grow: 1;
    }
  }

  .popping-cards {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 3rem;

    .p1,
    .p2,
    .p3 {
      max-width: unset;
      position: absolute;
      height: 10rem;
      width: auto;
    }

    .p1 {
      left: 50%;
      transform: translate(-50%);
      bottom: -15%;
    }

    .p2 {
      left: 35%;
      transform: translate(-50%) rotate(-10deg);
      bottom: -10%;
    }

    .p3 {
      left: 65%;
      transform: translate(-50%) rotate(10deg);
      bottom: -25%;
    }

    .bar {
      height: 7rem;
      background-color: #218aa2;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }

  .image-grid {
    .container {
      border-radius: 0.5rem;
      flex-grow: 1;
      max-height: 8rem;
      max-width: 48%;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      overflow: hidden;
      background-color: #efefef;

      &.full {
        max-width: unset;
        width: 100%;

        &:not(.triple) {
          height: 10rem;
          img {
            position: absolute;
            right: -8%;
            top: 10%;
            width: 100%;
          }
        }
      }

      &.light {
        background-color: #d3edf3;
      }

      &.dark {
        background-color: #2177a2;
      }

      img {
        max-height: 110%;
        width: auto;
      }

      &.triple {
        gap: 2rem;
        align-items: flex-end;

        img {
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          height: 90%;
        }
      }
    }
  }

  .quad-gif {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
