@use "@/scss/media.scss";
@use "@/scss/variables.scss";

$card-border-color: #e9e9e9;

section.contact {
  background-color: #f9f9f9;
  padding-inline: variables.$default-padding;
  padding-block: 1rem;
  border-top: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;

  @include media.responsive(tablet) {
    padding: variables.$default-mobile-padding;
  }

  > .title {
    display: block;
    font-size: 1.2rem;
    color: #272666;
  }

  .description {
    color: #747198;
  }

  form {
    margin-top: 1rem;
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      padding: 0.3rem 0.5rem;
      border-radius: 0.3rem;
      border: 1px solid #ededed;

      &:focus {
        // outline: 1px solid red;
      }
    }

    textarea {
      height: 5rem;
      resize: none;
    }

    button {
      cursor: pointer;
      border-radius: 0.6rem;
      padding: 0.5rem 1rem;
      border: 1px solid;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      background-color: #fc1e1e;
      border-color: #fc1e1e;
      color: white;
      justify-content: center;
    }
  }
}
