@use "@/scss/media.scss";
@use "@/scss/variables.scss";

$card-border-color: #e9e9e9;

.component.experience {
  .header {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 1rem;

    .company {
      color: #ff2a2a;
      padding: 0.2rem 0.4rem;
      border-radius: 0.8rem;
      background-color: #ff2a2a1a;
    }

    .title {
      color: #6b7589;
      font-size: 12px;
    }
  }
}

section.experience {
  background-color: #f9f9f9;
  padding: variables.$default-padding;
  border-top: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;

  @include media.responsive(tablet) {
    padding: variables.$default-mobile-padding;
  }

  > .title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: block;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
