@use "@/scss/media.scss";
@use "@/scss/variables.scss";

$card-border-color: #e9e9e9;

section.skills {
  border-top: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;

  >.title {
    padding-inline: variables.$default-padding;
    padding-block: 0.7rem;
    background-color: #f9f9f9;
    font-size: 1.4rem;
    color: #272666;

    @include media.responsive(tablet) {
      padding-inline: variables.$default-mobile-padding;
    }
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;

    >* {
      flex: 1 1 50%;

      @include media.responsive(tablet) {
        flex: 1 1 100%;
      }
    }
  }

  .show-more {
    padding-block: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: transparent;
    transition: 0.1s ease-in-out background;

    &:hover {
      background: #00000014;
      cursor: pointer;
    }
  }

}

.component.skill-box {
  padding-inline: variables.$default-padding;
  padding-block: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid $card-border-color;

  @include media.responsive(tablet) {
    padding-inline: variables.$default-mobile-padding;
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
    color: #0f141a;
  }

  p.description {
    color: #536471;
  }
}