@use "@/scss/media.scss";
@use "@/scss/variables.scss";

.page.system-page.dg-safely {
  display: flex;
  flex-direction: column;
  overflow: auto;

  .padded {
    padding: 2rem;
    overflow: hidden;
  }

  .image-grid {
    .container {
      background-color: #1e586b;
      position: relative;

      &.first {
        img {
          position: absolute;
          right: 0;
          height: auto;
          width: 90%;
          object-position: center;
          top: -50%;
        }
      }

      &.fill {
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      &.full {
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: flex-end;
        padding-top: 2rem;

        img {
          max-height: 100%;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          width: 20%;
          object-fit: cover;
          object-position: top;
        }

        @include media.responsive(tablet) {
          img {
            width: 50%;
            min-width: 50%;
          }
        }
      }

      &.notebook {
        img {
          position: absolute;
          transform: translate(-10%, 30%) scale(2.3);
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
